@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-shadow {
  box-shadow:0 3px 6px 0 rgba(200, 200, 200, 0.7) ;
  -moz-box-shadow:0 3px 6px 0 rgba(200, 200, 200, 0.7) ;
  -webkit-box-shadow:0 3px 6px 0 rgba(200, 200, 200, 0.7) ;
  -khtml-box-shadow:0 3px 6px 0 rgba(200, 200, 200, 0.7) ;
}

.menu-item {
  border-bottom: 1px solid #d4d1ce;
}

.button-dropshadow {
  box-shadow: 3px 3px 0 0 #f3eee9;
}

.button-dropshadow:hover {
  -webkit-box-shadow: 4px 4px 0 -1px #000000;
  box-shadow: 4px 4px 0 -1px #000000;
}

.main-card {
  border-radius: 0;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 #85ff89, 8px 8px 0 0 #ffabfe, 13px 13px 0 0 #85f0ff, 17px 17px 0 0 #fff985;
  outline-offset: 0;
  outline: #d4d1ce solid 1px;
}